/* css styles */

/* header */
#quarto-header {
  border: 0.5px solid #bbbbbbbb; 
}

/* home page */
#quarto-content {
 background-color: #f0f5f9; 
}

/* footer */
.footer {
  border: 0.5px solid #bbbbbbbb;
}

.faux-block {
  display: block;
  padding-bottom: 0.4em;
}

/* paragraph */
.quarto-about-jolla p {
  text-align: justify;
}