/* css styles */

/* header */
#quarto-header {
  border: 0.5px solid #bbbbbbbb; 
}

/* Quarto content container */
#quarto-content {
 background-color: #f0f5f9; 
}

/* Curriculum vitae */
.cv-date {
  float: right;
  font-style: italic
}

/* footer */
.footer {
  border: 0.5px solid #bbbbbbbb;
}

.faux-block {
  display: block;
  padding-bottom: 0.4em;
}

/* paragraph */
.quarto-about-jolla p {
  text-align: justify;
}